@model MikeFinancialPortal.Models.AcceptInvitationViewModel

@{
    ViewBag.Title = "AcceptInvitation";
}

<h2>AcceptInvitation</h2>

<body>
    <h3>
        You accepted the invitation!
    </h3>
    <hr />
    <h3>
        Click the following link to register!
    </h3>
    <div class="col-lg-4 col-md-6 mr-auto">
        <div class="card card-signup text-center">
            <div class="card-body ">
                <!--form Begin-->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.HouseholdId)


                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-email-85"></i>
                            </span>
                        </div>
                        @*<input type="text" class="form-control" placeholder="First Name...">*@
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                    </div>

                    <hr style="border: 2px solid #51bcda;" />

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-user-run"></i>
                            </span>
                        </div>
                        @*<input type="text" placeholder="Last Name..." class="form-control">*@
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "First Name" })
                    </div>

                    <hr style="border: 2px solid #51bcda;" />

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-user-run"></i>
                            </span>
                        </div>
                        @*<input type="text" placeholder="Last Name..." class="form-control">*@
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Last Name" })
                    </div>

                    <hr style="border: 2px solid #51bcda;" />

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-user-run"></i>
                            </span>
                        </div>
                        @*<input type="text" placeholder="Last Name..." class="form-control">*@
                        @*@Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control", placeholder = "DisplayName" })*@
                    </div>

                    <hr style="border: 2px solid #51bcda;" />

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-user-run"></i>
                            </span>
                        </div>
                        @*<input type="text" placeholder="Last Name..." class="form-control">*@
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>

                    <hr style="border: 2px solid #51bcda;" />

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-user-run"></i>
                            </span>
                        </div>
                        @*<input type="text" placeholder="Last Name..." class="form-control">*@
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-info btn-round">Get started</button>
                    </div>

                }
                <!--form End-->
            </div>
            <div class="card-footer ">
                <a href="#pablo" class="btn btn-info btn-round">Get Started</a>
            </div>
        </div>
        <a href=@Url.Action("Register","Account")>
            Link!
        </a>
</body>